/* Estilo propio de los links para carousel de la pestaña index */

.carousel {
    margin-top: 5vh;
}

/* Estilo propio de imágenes de pestaña index (las del carrusel) */

.rounded {
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    width: 70% !important;
}

