$color-white: white;
$color-black: black;
$color-blue: blue;
$color-dodgerblue: dodgerblue;
$color-lightskyblue: lightskyblue;
$color-back-footer: #a8c0ff;
$color-gray: #373b44;
$color-antiquewhite: antiquewhite;