/* Cambio de tamaño de las imágenes, fuentes, etc. de acuerdo a screen size (comportamiento responsive) */

@media only screen and (max-width: $screen-sm-max) {
  .curso1 {
    width: 75% !important;
  }

  .curso2 {
    width: 70% !important;
  }

  .curso3 {
    width: 70% !important;
  }

  .imagen_nosotros {
    display: none;
  }

  .nosotros-p {
    font-size: 2vh;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .wrapper_error {
    background: url("../images/error-mobile.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    margin-top: 50vh;
    align-items: center;
    justify-content: center;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 65%;
  }

}

@media only screen and (min-width: $screen-sm-max) and (max-width: $screen-md-min-inf) {

  .imagen_nosotros {
    display: none;
  }

  .nosotros-p {
    font-size: 2.2vh;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }

  .wrapper_error {
    background: url("../images/error-mobile.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    margin-top: 50vh;
    align-items: center;
    justify-content: center;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 65%;
  }
}

@media only screen and (min-width: $screen-sm-high) and (max-width: $screen-md-min-sup) {
  .imagen_nosotros {
    display: none !important;
  }

  .wrapper_error {
    background: url("../images/error-tablet.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    position: fixed;
    margin-top: 2%;
    margin-left: 2%;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 3vh;
  }

}

@media only screen and (width: $screen-md-min-sup) {
  .imagen_nosotros {
    display: inline-block !important;
  }

  .wrapper_error {
    background: url("../images/error-tablet.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    position: fixed;
    margin-top: 60vh;
    margin-left: 12vh;
  }

}


@media only screen and (min-width: $screen-md-min-sup) and (max-width: $screen-lg-min) {
  .curso1 {
    width: 61% !important;
  }

  .curso2 {
    width: 57% !important;
  }

  .curso3 {
    width: 57% !important;
  }

  .img-nos-div {
    width: 50% !important;
  }

  .nosotros-p {
    font-size: 2vh;
    margin-left: 40%;
  }

  .wrapper_error {
    background: url("../images/error-desktop.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    position: fixed;
    margin-top: 5%;
    margin-left: 5%;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 3vh;
  }

}

@media only screen and (min-width: $screen-lg-min) {
  .curso1 {
    width: 37% !important;
  }

  .curso2 {
    width: 34% !important;
  }

  .curso3 {
    width: 34% !important;
  }

  .img-nos-div {
    width: 40% !important;
  }

  .nosotros-p {
    font-size: 2.4vh;
    margin-left: 40% !important;
  }

  .font-curso {
    p {
      font-size: medium;
    }
  }

  .wrapper_error {
    background: url("../images/error-desktop.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    position: fixed;
    margin-top: 5%;
    margin-left: 5%;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 3vh;
  }

}

@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .img-2 {
    margin-top: 1vh !important;
  }

  .div-button-error {
    display: flex;
    position: fixed;
    margin-top: 5%;
    margin-left: 5%;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 3vh;
  }
}

@media only screen and (min-width: $screen-lg-max) {

  .font-curso {
    p {
      font-size: small;
    }
  }

  .wrapper_error {
    background: url("../images/error-desktop.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: rgba($color: #e2fbff, $alpha: 1.0);
    background-size: contain;
    overflow-x: hidden;
  }

  .div-button-error {
    display: flex;
    position: fixed;
    margin-top: 3%;
    margin-left: 5%;
  }

  .button-error {
    width: auto;
    height: auto;
    font-size: 3vh;
  }

}