/* Normalización de la página - se eliminan los márgenes y padding */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html y body  */

html {
  position: relative;
  min-height: 100%;
}

body:not(.wrapper_error) {
  animation-name: fade-in;
  animation-duration: 3s;
  animation-iteration-count:initial;
  background: url("../images/bckg_3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 150px;
  overflow-x: hidden;
}