// Variables para fonts
$font-navbar: 'Poppins';
$font-sans: sans-serif;
$font-family_h1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

// Variables para media queries: 
// Dispositivos pequeños (mobiles, hasta 576px)
$screen-sm-max: 576px;

$screen-sm-high: 766px;

// Dispositivos medios (tablets, mayores a 769px)
$screen-md-min-inf: 767px;
$screen-md-min-sup: 768px;

// Dispositivos más grandes (desktops, mayores a 992px)
$screen-lg-min: 992px;